<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
<script>
</script>
</head>
<body>
@@include('./_common/header/header.html')
<div class="banner slide">
    <div id="product-slider" class="rsDefault">
      <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner1.jpg"/></a>
      <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner2.jpg"/></a>
      <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner3.jpg"/></a>
      <a href="#"><img class="rsImg rsMainSlideImage" src="/images/banner/banner4.jpg"/></a>
    </div>
    <div class="layer-control">
        <a class="btn_prev" href="javascript:;"></a>
            <div class="pagenationPanel">
                <a class="pagenation pagenationActive"><i></i></a>
            </div>
        <a class="btn_next" href="javascript:;"></a>
    </div>  
</div>
<div class="wrapper">
    <div class="section1">
        {{{infoCat1}}}
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        {{{infoCat2}}}
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        {{{goodsList}}}
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        {{{infoCat3}}}
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
    <div class="section1">
        {{{infoCat4}}}
    </div>
    <div class="section1 ggt_big">
        <div class="container">
            <img src="/images/ad/ad.jpg"/>
        </div>
    </div>
</div>
@@include('./_common/footer/footer.html')
@@include('./_common/footer/foot.html')
</body>
</html>
