<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
<script>
</script>
</head>

<body>
@@include('../_common/header/header.html')
<div class="banner slide">
    <ul class="ban_ul banpic">
        <li  data-image="url(/images/banner/banner1.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner2.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner3.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner4.jpg)"><a href='#'></a></li>
    </ul>
    <div class="layer-control">
        <a class="btn_prev" href="javascript:;"></a>
            <div class="pagenationPanel">
                <a class="pagenation pagenationActive"><i></i></a>
            </div>
        <a class="btn_next" href="javascript:;"></a>
    </div>
</div>
<div class="wrapper">
    <div class="current_path container">
        {{{crumbsNav}}}
    </div>
    <div class="info-wrap container">
        <div class="clearfix row">
		    <div class="info-firm span10 fl">
                <div class="info-ftitle">
                    <h2>{{info.title}}</h2>
                    <span>{{info.source}}&nbsp;&nbsp;&nbsp;&nbsp;{{info.time}}</span>
                    <dl>
        				<dt>标签：</dt>
        				{{#each info.tags}}
                            <dd><a href='#'>{{this}}</a></dd>
                        {{/each}}
        			 </dl>
                </div>
                <div class="info-fbody">
                    {{{info.infoContent.content}}}
                </div>
			</div>
            <div class="info-right span2 fl">
                <img src="/images/ad/ad2.jpg" />
                <img src="/images/ad/ad2.jpg" />
            </div>
		</div>
    </div>
</div>

@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
</body>
</html>
