<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
<style>
<!--

.picker__day th, table td {
    border: 0px;
}
.picker__wrap {
    margin: 0px;
}

-->
</style>
</head>
<body>
@@include('../_common/header/header.html')
<div class="wrapper">
    <div class="current_path container">
        <a href="/index.html">首页</a> > <a href="/account-center.html">会员中心</a> > <a href="/goods/list.html">我的商品</a> > <a class="currents"> 商品详情 </a>
    </div>
    <div class="myaccount_main">
        <div class="container">
            <div class="row clearfix">
                <div class="account_l fl wid-2">
                    @@include('../_common/account.hbs')
                </div>
                <div class="account_r fl wid-10">
                    <div class="mygoods-arclist">
                        <form id="goodsForm" action="/goods/update.html" method="post">
                            <input type="hidden" name="goodsId" value="{{spGoods.id}}"/>
                            <input type="hidden" name="fullName" id="fullName" value="{{spGoods.fullName}}">
                            <div class="form-group">
                                <label for="catId2">商品编号：</label>
                                {{spGoods.goodsNo}}
                            </div>
                            <div class="form-group">
                                <label for="catId2">挂牌日期：</label>
                                {{spGoods.createTime}}
                            </div>
                            <div class="form-group">
                                <label for="catId">类别：</label>
                                <select class="form-control g_cate" name="catId" id="catId" >
                                      <option value="0">--请选择类别--</option>
                                      {{{catList}}}
                                </select><span class="required">*</span>
                            </div>
                            <div class="form-group">
                                <label for="catId2">品名：</label>
                                <select class="form-control g_cname" name="catId2" id="catId2" maxlength="100"><span class="required">*</span>
                                {{{cat2List}}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="vender">厂家：</label>
                                <input class="user_vender form-control" type="text" style="width: 350px;" name="vender" id="vender" value="{{spGoods.vender}}" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="brandId">品牌：</label>
                                <select class="form-control user_brand" name="brandId" id="brandId" ><span class="required">*</span>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="model">规格型号：</label>
                                <input class="user_norms form-control" type="text" name="model" id="model" maxlength="100" value="{{spGoods.model}}" >
                            </div>
                            <div class="form-group mygoods_upload">
                                <div class="pictures_box">
                                    <ul id="pictures" class="pictures">
<!--                                 [#assign index=1/]
                                [#list spGoodsPictureList as picture]
                                    [#if index > 3] [#break] [/#if]
                                        <li class="goods_updown exist_img" data-id="${picture.id}">
                                            <img src="${path}${picture.original}" alt="" class="goods_upic">
                                            <div class="goods_upicbtn">
                                                <span title="删除" class="del_img"></span>
                                                <span title="更新" class="updata_img"></span>
                                            </div>
                                            <span class="upload_test">正在上传···</span>
                                            <span class="file_btn">+</span>
                                            <input type="file" class="hide_file" name="picture" accept=".jpg,.jpeg,.png" multiple>
                                            <input type="hidden" class="pic_src" name="" val="${picture.original}">
                                        </li>
                                    [#assign index=index+1/]
                                [/#list]
                                [#if 3 > index - 1] 
                                    [#list index..3 as x]
                                        <li class="goods_updown " data-id="">
                                            <img src="" alt="" class="goods_upic">
                                            <div class="goods_upicbtn">
                                                <span title="删除" class="del_img"></span>
                                                <span title="更新" class="updata_img"></span>
                                            </div>
                                            <span class="upload_test">正在上传···</span>
                                            <span class="file_btn">+</span>
                                            <input type="file" class="hide_file" name="picture" accept=".jpg,.jpeg,.png" multiple>
                                            <input type="hidden" class="pic_src" name="" val="">
                                        </li>
                                    [/#list]
                                [/#if] -->
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="quality">质量标准：</label>
                                <input class="user_quality form-control" type="text" style="width: 350px;" maxlength="100" name="quality" value="{{spGoods.quality}}" id="quality">
                            </div>
                            <div class="form-group">
                                <label for="manner">包装方式：</label>
                                <input class="user_packing form-control" type="text" style="width: 350px;" maxlength="100" name="manner" value="{{spGoods.manner}}" id="manner">
                            </div>
                            <div class="form-group mygoods_stock">
                                <label for="stock">挂牌量：</label>
                                <input class="user_stock form-control" type="text" style="width: 150px;" maxlength="15" value="{{spGoods.stock}}" name="stock" id="stock" >
                                <select class="form-control" id="unit" name="unit">
<!--                                       [#list unitTypeList as bean]
                                      <option value="${bean.value}" [#if spGoods.unit==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list] -->
                                </select><span class="required">*</span>
                            </div>
                            <div class="form-group">
                                <label for="minQuantity">起订量：</label>
                                <input class="user_minimum form-control" type="text" style="width: 150px;" maxlength="15" name="minQuantity" id="minQuantity" value="{{spGoods.minQuantity}}" ><span id="minQuantityUnit"></span><span class="required">*</span>
                            </div>
                            <div class="form-group">
                                <label for="increase">增幅：</label>
                                <input class="form-control" type="text" style="width: 150px;" name="increase" maxlength="15" id="increase" value="{{spGoods.increase}}"><span id="increaseUnit"></span><span class="required">说明：订单采购量的增减量必须为增幅的整数倍（不填或者为0时表示不限制）。</span>
                            </div>
                            <div class="form-group">
                                <label for="validity">有效期：</label>
                                <input class="form-control" type="text" style="width: 150px;" name="validity" maxlength="6" id="validity" value="{{spGoods.validity}}">天 (<span class="required">说明：逾期后系统会自动撤牌</span>)
                            </div>
                            <div class="form-group">
                                <label for="valuation">计价方式：</label>
                                <select class="form-control form-methods" name="valuation" id="valuation" >
                                      [#list valuationTypeList as bean]
                                      <option value="${bean.value}" [#if spGoods.valuation==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group" data-valuation="0">
                                <label for="exchange">点价合约：</label>
                                <select class="form-control form-midpoints"  style="width: 200px;" name="exchange" id="exchange">
                                      [#list exchangeList as bean]
                                      <option value="${bean.value}" [#if spGoods.exchange==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                                <span id="brandTradeCode" style="width: 80px;">&nbsp;</span>
                                <select class="form-control form-midpoints" style="width: 150px;" name="contractPeriod" id="contractPeriod">
                                      [#list contractPeriodList as bean]
                                      <option value="${bean}" [#if spGoods.contractPeriod==bean] selected [/#if]>${bean}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group" data-valuation="0">
                                <label for="discount">升贴水：</label>
                                <input class="user_discount form-control" style="width: 150px;" maxlength="10" type="text" name="discount" id="discount" value="{{spGoods.discount}}">
                                      元<span id="discountUnit"></span>
                            </div>
                            <div class="form-group checkbox" data-valuation="0">
                                <label for=""></label>
                                <label style="width:auto;">
                                    <input type="checkbox" value="1" name="isNightPlate" id="isNightPlate">接受夜盘点价
                                </label>
                            </div>
                            <div class="form-group" data-valuation="0">
                                <label for="stopDate">点价截止时间：</label>
                                <input type="text" class="form-control" style="width:120px;" name="stopDate" id="stopDate" value="${spGoods.stopDate?string("yyyy-MM-dd")}" >
                                <select class="form-control form-midpoints" style="width:70px;" name="stopHour" id="stopHour">
                                </select>时
                                <select class="form-control form-midpoints" style="width:70px;" name="stopMinute" id="stopMinute">
                                </select>分
                                <span class="required">*</span>
                            </div>
                            <div class="form-group" data-valuation="0">
                                <label for="partyPrice">点价方：</label>
                                <select class="form-control form-party" name="partyPrice" id="partyPrice">
                                      [#list partyTypeList as bean]
                                      <option value="${bean.value}" [#if spGoods.partyPrice==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group" data-valuation="1">
                                <label for="price">单价：</label>
                                <input class="user_discount form-control" style="width:150px;" type="text" maxlength="15" name="price" id="price" value="[#if spGoods.price?if_exists]${spGoods.price?string('#.00')}[/#if]" >
                                <span class="required">*</span>元<span id="priceUnit"></span>
                            </div>
                            <div class="form-group">
                                <label for="storage">仓库：</label>
                                <select class="form-control form-warehouse" name="storage" id="storage">
                                      [#list storageList as bean]
                                      <option value="${bean.value}" [#if spGoods.storage==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group" data-storage="99">
                                <label for="storageAddr">仓库地址：</label>
                                <textarea class="form-control form-place" rows="3" name="storageAddr" id="storageAddr" maxlength="100">${spGoods.storageAddr}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="deliveryWay">交货方式：</label>
                                <select class="form-control form-delivery" name="deliveryWay" id="deliveryWay">
                                      [#list deliveryWayList as bean]
                                      <option value="${bean.value}" [#if spGoods.deliveryWay==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paymentWay">付款方式：</label>
                                <select class="form-control form-payment" name="paymentWay" id="paymentWay">
                                      [#list paymentTypeList as bean]
                                      <option value="${bean.value}" [#if spGoods.paymentWay==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="isShelves">挂牌状态：</label>
                                <select class="form-control form-state" name="isShelves" id="isShelves">
                                      [#list listStatusList as bean]
                                      <option value="${bean.value}" [#if spGoods.isShelves==bean.value] selected [/#if]>${bean.desc!''}</option>
                                      [/#list]
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="remark">备注：</label>
                                <textarea class="form-control form-descr" rows="3" name="remark" id="remark" maxlength="100">${spGoods.remark}</textarea>
                            </div>
                            <div class="form-group r_yzxx"><label for="name"></label><button id="btnSave" type="button" class="btn btn-orange">保存</button><button id="btnCancel" type="button" class="btn btn-default">取消</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
</body>
</html>