<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
</head>
<body>
@@include('../_common/header/header.html')
<div class="wrapper">
    <div class="current_path container">
        <a href="/index.html">首页</a>
        >
        <a class="currents"> 会员中心 </a>
    </div>
    <div class="myaccount_main">
        <div class="container">
            <div class="row clearfix">
                <div class="account_l fl wid-2">
                    @@include('../_common/account.hbs')
                </div>
                <div class="account_r fl wid-10">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active" >
                            <a href="#mybasic" data-toggle="tab">
                                <i></i>基本信息
                            </a>
                        </li>
                        <li>
                            <a href="#myapprove" data-toggle="tab">用户认证</a>
                        </li>
                        <li>
                            <a href="#mypwd" data-toggle="tab">修改密码</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content account_content">
                        <div class="r_wrap_list tab-pane fade in active" id="mybasic">
                            <form action="" id="accountSaveBaseInfo" method="">
                                <div class="form-group">
                                    <label for="name">用户名：</label>
                                    <input type="text" id="loginName" name="loginName" value="{{account.loginName}}" readonly class="form-control user_name">
                                </div>
                                <div class="form-group">
                                    <label for="name">企业名称：</label>
                                    <input type="text" id="firmFullName" name="firmFullName" value="{{firm.firmInfo.firmFullName}}" class="form-control user_company">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">联系人姓名：</label>
                                    <input type="text" id="name" name="name" value="{{firm.firmContact.name}}" class="form-control user_tname">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">联系电话：</label>
                                    <input type="text" id="phone" name="phone" value="{{firm.firmContact.phone}}" class="form-control user_phone">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">公司固话：</label>
                                    <input type="text" id="landline" name="landline" value="{{firm.firmContact.landline}}" class="form-control user_landline">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">传真号码：</label>
                                    <input type="text" id="fax" name="fax" value="{{firm.firmContact.fax}}" class="form-control user_fax">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">联系邮箱：</label>
                                    <input type="text" id="email" name="email" value="{{firm.firmContact.email}}" class="form-control user_email">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">联系QQ：</label>
                                    <input type="text" id="qq" name="qq" value="{{firm.firmContact.qq}}" class="form-control user_qq">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group u_address ">
                                    <label for="name">地区：</label>
                                     <select class="form-control user_asheng province select_address" name="province">
                                        {{{account.provinces}}}
                                    </select> <select class="form-control user_ashi city select_address" name="city">
                                        {{{account.city}}}
                                    </select> <select class="form-control user_aqu county select_address" name="district">
                                        {{{account.county}}}
                                    </select>
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">地址：</label>
                                    <input type="text" id="address" name="address"  value="{{firm.firmContact.address}}" class="form-control user_adetail" />
                                </div>
                                <a href="javascript:;" type="button"  id="updateBaseInfo" class="btn btn-orange">更新</a>
                            </form>
                        </div>
                        <div class="tab-pane fade " id="myapprove">
                            <form id="part2">
                                <div class="form-group" style="height:140px;">
                                    <label for="name">企业营业执照：</label>
                                    <div class="myaccount_uploadfieldbase">
                                        <!-- 未认证/重新提交认证状态，按钮激活 -->
                                        {{#if auth.status}}
                                        <!-- 上传营业执照 -->
                                        <div id="up_yyzz"></div>
                                        <input type="hidden" id="inputLiecncesName" name="inputLiecncesName">
                                        <!-- <span id="up_yyzz" class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>上传营业执照</span>
                                            <input id="inputLiecnces" type="file" name="file" accept=".jpg,.jpeg,.png" multiple>
                                            <input type="hidden" id="inputLiecncesName" name="inputLiecncesName">
                                        </span> -->
                                        {{else}}
                                        <div class="gallery">
                                            <a href='{{config.imagePath}}{{firm.firmAuth.liecncesPath}}' class='lightbox' rel='roadtrip' title='' id='inputLiecncesHref'>
                                                <img alt="" src="{{config.account_img}}{{firm.firmAuth.liecncesPath}}" id="inputLiecncesPic" width="100" height="100">
                                            </a>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="form-group" style="height:140px;">
                                    <label for="name">组织机构代码：</label>
                                    <div class="myaccount_uploadfieldbase">
                                        <!-- 未认证/重新提交认证状态，按钮激活 -->
                                        {{#if auth.status}}
                                        <!-- 上传组织机构代码 -->
                                        <div id="up_zzjg"></div>
                                        <input type="hidden" id="inputOrgCodeName" name="inputOrgCodeName">
                                        <!-- <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>上传组织机构代码</span>
                                            <input id="inputOrgCode" type="file" name="file" accept=".jpg,.jpeg,.png" multiple>
                                            <input type="hidden" id="inputOrgCodeName" name="inputOrgCodeName">
                                        </span> -->
                                        {{else}}
                                        <div class="gallery">
                                            <a href='{{config.account_img}}{{firm.firmAuth.orgCodePath}}' class='lightbox' rel='roadtrip' title='' id='<inputOrgCodeHr></inputOrgCodeHr>ef'>
                                                <img alt="" src="{{config.account_img}}{{firm.firmAuth.orgCodePath}}" id="inputOrgCodePic" width="100" height="100">
                                            </a>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="form-group" style="height:140px;">
                                    <label for="name">税务登记证：</label>
                                    <div class="myaccount_uploadfieldbase">
                                        <!-- 未认证/重新提交认证状态，按钮激活 -->
                                        {{#if auth.status}}
                                        <!-- 上传税务登记证 -->
                                        <div id="up_swdj"></div>
                                        <input type="hidden" id="inputTaxName" name="inputTaxName">
                                        <!-- <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>上传税务登记证</span>
                                            <input id="inputTax" type="file" name="file" accept=".jpg,.jpeg,.png" multiple>
                                            <input type="hidden" id="inputTaxName" name="inputTaxName">
                                        </span> -->
                                        {{else}}
                                        <div class="gallery">
                                            <a href='{{config.account_img}}{{firm.firmAuth.taxRegPath}}' class='lightbox' rel='roadtrip' title='' id='inputTaxHref'>
                                                <img alt="" src="{{config.account_img}}{{firm.firmAuth.taxRegPath}}" id="inputTaxPic" width="100" height="100">
                                            </a>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                {{#if auth.status_init}}
                                    <div class="myapprove_btn">
                                        <a href="javascript:;" type="button" id="accountAuth" class="btn btn-orange">认证申请</a>
                                    </div>
                                {{/if}}
                                {{#if auth.status_fail}}
                                    <div class="myapprove_btn">
                                        <a href="javascript:;" type="button" id="re-accountAuth" class="btn btn-orange">重新认证</a>
                                    </div>
                                    <p class="myapprove_error">认证失败原因：&nbsp;&nbsp;
                                        {{firm.firmAuthRecord.description}}
                                    </p>
                                    <div class="myapprove_btn">
                                        <a class="btn btn-info">${auth.AUTH_ING.desc}</a>
                                    </div>
                                {{/if}}
                                {{#if auth.status_success}}
                                    <div class="myapprove_btn">
                                        <a class="btn btn-success">{{auth.AUTH_SUCCESS.desc}}</a>
                                    </div>
                                {{/if}}
                            </form>
                        </div>

                        <div class="tab-pane fade " id="mypwd">
                            <form action="/account/myaccount" id="accountSavePassword" method="post">
                                <div class="form-group">
                                    <label for="name">原密码：</label>
                                    <input type="password" class="form-control user_pwd" id="oldPassword" name="oldPassword" autocomplete="off" placeholder="请输入原密码">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">新密码：</label>
                                    <input type="password" class="form-control user_pwdn" id="newPassword" name="newPassword" autocomplete="off" placeholder="请输入新密码">
                                    <p class="error_msg text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <label for="name">确认密码：</label>
                                    <input type="password" class="form-control user_pwdnd" id="repassword" name="repassword" autocomplete="off" placeholder="请再次输入密码">
                                    <p class="error_msg text-danger"></p>
                                </div>
                            </form>
                                <a href="javascript:;" type="button" id="updatePassword" class="btn btn-orange">修改密码</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
</body>
</html>
